
 .nav {
    display: flex;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    font-size: 12px;
    
    height:100%;
    
    margin-right: inherit;
    width: 100%;
}

@media (min-width: 100px) and (max-width:2000px) {
  .container{
    max-width: 100%;
  }
}
